<!DOCTYPE html>
<html lang="en" ng-app="checkWriter">
<head>
    <meta charset="utf-8" />
    <title>Check Writer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <!-- add styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
	<link href="/node_modules/angular-material/angular-material.min.css" rel="stylesheet" type="text/css" />

    <!-- add javascripts -->
    <script src="/node_modules/angular/angular.min.js"></script>
	<script src="/node_modules/angular-route/angular-route.min.js"></script>
	<script src="/node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="/node_modules/angular-aria/angular-aria.min.js"></script>
	<script src="/node_modules/angular-messages/angular-messages.min.js"></script>
	<script src="/node_modules/angular-material/angular-material.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/currencyController.js"></script>
	<script src="js/currencyService.js"></script>
	<script src="js/genericService.js"></script>
</head>
<body ng-controller="CurrencyController">
    <div layout="row" id="r1">
		<div layout="column" flex="30" style="margin-top: 10px;">
			<a href="#!"><img id="logo" src="https://docs.angularjs.org/img/angularjs-for-header-only.svg" /></a>
		</div>
		<div layout="column" flex="15" style="margin-top: 50px;">Enter the currency value</div>
		<div layout="column" flex style="margin-top: 50px;">
			<form ng-submit="covertCurrency()" class="contactForm" name="form">
				<input class="input e2e-currency-text-box" required type="text" name="value" ng-model="currency.value" />
				<button class="e2e-submit-button" >Submit</button>
			</form>
		</div>
	</div>
	<div layout="row" id="r2" >
		<div class="e2e-result" id="result" ng-show="result">{{currency.words}}</div>
	</div>
</body>
</html>